<h1>Directions</h1>
<h2>Origin: <%= @request[:origin] %></h2>
<h2>Waypoints:</h2>
<ul>
    <%- @request[:waypoints].each do |wp| %>
    <li><%= wp %></li>
    <%- end %>

</ul>
<h2>Destination: <%= @request[:destination] %></h2>
<div id="map"></div>
<script>
function initMap() {
  var origin = <%= @request[:origin] %>;
  var destination = <%= @request[:destination] %>;

  var map = new google.maps.Map(document.getElementById('map'), {
    center: origin,
    scrollwheel: false,
    zoom: 7
  });

  var directionsDisplay = new google.maps.DirectionsRenderer({
    map: map
  });

  var request = {
    destination: destination,
    origin: origin,
    travelMode: google.maps.TravelMode.DRIVING,
    waypoints: [
      <%- @request[:waypoints].each do |wp| %>
        <%= puts "{" %>
          <%= puts "location: \"wp\"" %>
        <%= puts "}" %>
      <%- end %>
    ]
  };
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
